* {
    margin: 0;
    padding: 0;
}

/* 网页背景图片 */
body {
    line-height: 1.6;
    background: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    color: #ce9797;
    /* 禁用滚动条 */
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

/* 被选中后的文字样式 */
::selection {
    background-color: #ce9797;
    color: whitesmoke;
}

/* 最外层header容器 */
.wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

/* 左侧 */
.left {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

/* 右侧 */
.right {
    background: url('./images/hero-desktop.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 610px;
    max-height: 100vh
}

/* 顶部LOGO */
.logo {
    margin-bottom: 3rem;
}

/* 中部文字 */
.info {
    width: 70%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 3.5em;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.2rem;
    font-weight: 300;
}

.coming-soon {
    font-size: 1em;
    color: #413a3a;
    font-weight: 500;
}

.para {
    margin: 2rem 0 3.5rem;
    font-size: 0.83rem;
    letter-spacing: 0.08rem;
}

/* 输入框和按钮 */
.email-info {
    display: flex;
}

.input {
    border: 0.1rem solid rgba(206, 151, 151, 0.3);
    /* 万物皆可rem */
    border-radius: 100rem;
    padding: 1.3em 3.8em 1.3em 2em;
    background-color: transparent;
    letter-spacing: 0.05rem;
    width: 100%;
    /* 普通color设置不上颜色，是谷歌浏览器的自带样式导致。改为如下 */
    -webkit-text-fill-color: #ce9797;
}

.input:focus {
    outline: none;
    border: 0.15rem solid rgb(206, 151, 151);
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 100rem;
    box-shadow: 0 1rem 2rem 0 rgba(249, 98, 98, 0.2);
    margin-left: -4em;
    padding: 1.3em 3em;
    background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    color: #fff;
}

.btn:hover {
    background: linear-gradient(135deg, #ee8c8c, #f96262);
}

@media screen and (min-width:1800px) and (min-height: 800px) {
    header {
        max-width: 1500px;
        height: 800px;
        border: 0.3rem solid #000;
        /* 元素垂直水平居中 */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .right{
        max-height: 800px;
    }

}

@media screen and (max-width:700px) {
    .wrapper {
        flex-direction: column;
    }

    .left{
        flex: 1;
    }

    .right {
        background: url('./images/hero-mobile.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 100vh;
        height: 300px;
        order: -1;
    }

    .logo{
        display: none;
    }
}